// bower:scss
@import "bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
// endbower

// Styles/
// ├── base
// │   ├── _color.scss
// │   ├── _reset.scss
// │   └── _typography.scss
// ├── layout
// │   ├── _footer.scss
// │   ├── _grid.scss
// │   └── _main-nav.scss
// ├── modules
// │   └── _buttons.scss
// ├── shame
// │   └── _shame-on-me.scss
// ├── state
// │   └── _media-queries.scss
// └── main.scss

// Base
@import "base/reset";
@import "base/normalize";
@import "base/colors";
@import "base/base";
@import "base/typography";
@import "base/links";
@import "base/media-queries";
// Helpers
@import "helpers/functions";
@import "helpers/animations";
// Layout
@import "layout/grid";
@import "layout/header";
@import "layout/footer";
// Modules
@import "modules/shadows";
@import "modules/buttons";
@import "modules/forms";
@import "modules/hero";
@import "modules/intro";
@import "modules/gallery";
@import "modules/training";
@import "modules/explanation";
@import "modules/why";
@import "modules/contact";
// State
// Shaaame
@import "shame/shame-on-me";

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
