@import url(https://fonts.googleapis.com/css?family=Quicksand|Lato:400,400italic,700,900);

$heading-text: 'Quicksand', sans-serif;
$body-text: 'Lato', sans-serif;

body {
  font: 1.1em $body-text;
  line-height: 1.8;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-text;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

.dropcap:first-letter {
  float: left;
  // Can't use function
  color: $main-accent;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-family: $heading-text;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.accent {
  color: $main-accent;
}

.italic {
  font-style: italic;
}

.sub {
  vertical-align: sub;
  font-size: xx-small;
}
