.button {
  padding: .5rem 1rem;
  border: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: bold;

  @extend .shadow--s;
}

.button:hover {
  cursor:pointer;
}

.button--blue {
  background-color: color(blue);
  color: white;

  &:hover {
    transition: .5s ease;
    background-color: white;
    box-sizing: border-box;
    color: color(blue);
  }
}

.button--black {
  background-color: color(dark);
  color: color(blue);

  &:hover {
    transition: .5s ease;
    background-color: white;
    box-sizing: border-box;
    color: color(blue);
  }
}
