#explanation {
    position: relative;
}

.explanation__hero {
<<<<<<< HEAD
  background-color: color(blue, dark);
  height: 100vh;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
  background-size: cover;
}
<<<<<<< HEAD

.explanation__container--pre {
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
}

.explanation__container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

=======

.explanation__container--pre {
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
}

.explanation__container {

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

>>>>>>> 08b42c245a1dfcb7f99a333cdb05a72d172eae85
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.explanation__row {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  flex-direction: row;
  align-items: center;
}

.explanation__image {
  padding-right: $spacing-unit;
  img {
    height: 200px;
    width: 200px;
    @extend .shadow--s--flat;
  }
}

.explanation__text {
  padding: 2rem 1rem;
  background-color: color(dark);
  color: white;
  margin-left: -5rem;

  @extend .shadow--s--flat;
}

.explanation__row:nth-child(even) {
  .explanation__image {
    order: 2;
    padding-right: 0;
  }

  .explanation__text {
    margin-left: 0;
  }
}

@media all and (max-width: $media-medium) {
  #explanation {
    clear: both;
  }

 .explanation__row {
   flex-direction: column;
   margin: 2rem 0;

   .explanation__text {
     margin-left: 0;
   }
 }

 .explanation__row:nth-child(even) {
   .explanation__image {
     order: 0;
     padding-right: 0;
   }

   .explanation__text {
     margin-left: 0;
   }
 }

}
