.hero {
  background-color: rgb(88, 88, 88);
}

.hero__image {
  background-image: url("../images/Hero-web.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-color: color(blue);
}
